.mov {
	color: lavender;
}

body {
	background-color: black;
}
.card {
	background-color: black;
}
.mypicture1 {
	width: 100%;
}
.orange {
	color: orange;
}
.mypicture2 {
	width: 100%;
}
.mypicture3{
	width:100%;
}
li 
{ margin-bottom: 12px;
}
.roz {
	color:darkred;
}
.picture {
	width: 280px;
	height: 230px;
}
